body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
}

section {
  min-height: 500px;
  padding-bottom: 100px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

.orange-text {
  color: orange;
}

.top-banner {
  background-image: url("../img/top-banner.png");
  background-repeat: no-repeat;
}

.button {
  text-decoration: none;
  background: orange;
  background-image: linear-gradient(45deg, orange, tomato);
  padding: 10px 40px;
  color: white;
  border-radius: 5px;
  font-weight: 700;
}

.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}

.half-width img {
  width: 100%;
}

.total-experiences {
  box-shadow: grey 10px 10px 40px;
  border-radius: 5px;
  height: 400px;
}

.experiences {
  background-image: url('../img/exp-bg.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: 50px;
  background-color: white;
}

#full-web {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, orange, tomato);
  border-image-slice: 1;
}

#junior-web {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, blue, cyan);
  border-image-slice: 1;
}

footer p {
  text-align: center;
  font-size: 16px;
}